* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
}
.tittle{
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: 600;
}
.inputs{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
label{
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}
input{
  padding: 0.9rem;
}
.btn-signup{
  padding: 10px 15px;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  cursor: pointer;
}
.btn-wrapper{
  margin-top: 0.9rem;
}
.term-privacy{
  max-width: 390px;
  margin: 0.7rem 0rem;
  font-weight: 700;
}
.or{
  font-size: 1.3rem;
  margin: 0.7rem 0rem;
  font-weight: 700;
}
.social-icon{
  margin-bottom: 1.5rem;
}
.list{
  display: flex;
  list-style: none;
  gap: 0.8rem;
}
.list-item{
  border: 1px solid gray;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.account{
  text-align: center;
  font-size: 1.1rem;
}
.password-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-info-circle{
  opacity: 0.2;
}
.fa-linkedin-square{
    color: skyblue;
}
.fa-facebook-official{
    color: blue;
}
.fa-twitter {
  color: dodgerblue;
}
@media (max-width: 600px) {
  .container{
    margin: 1rem;
  }
  .list{
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}